.card-widget.card-times .item-headline {
  display: none
}

.card-widget.card-times {
  padding: .8rem !important
}

.card-times a {
  color: #000
}

#aside-calendar {
  height: fit-content;
  display: flex
}

#aside-calendar,
#aside-schedule {
  /* background: var(--xiaomo-fontcolor); */
  border-radius: 0;
  /* mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners); */
  --smooth-level: 12;
  padding: .5rem
}

#aside-calendar {
  margin-top: .5rem
}

#aside-area-top {
  display: flex
}

#aside-time-left,
#aside-time-right {
  /* background: var(--xiaomo-fontcolor); */
  border-radius: 0;
  /* mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners); */
  --smooth-level: 12;
  padding: .5rem;
  font-family: Sans_clock;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  line-height: 2rem
}

#aside-time-left {
  width: 64%
}

#aside-time-right {
  width: 36%;
  margin-left: .5rem
}

#calendar-area-left {
  height: 100%;
  width: 30%
}

#calendar-area-right {
  height: 100%;
  width: 70%
}

#calendar-month,
#calendar-week {
  height: 1.1rem;
  font-size: 1.1rem;
  color: #0096ff;
  font-weight: 700;
  margin-bottom: .5rem;
  align-items: center;
  display: flex
}

#calendar-month {
  margin-left: calc(7.14% - .5rem)
}

#calendar-date {
  height: 3rem;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  align-items: center;
  display: flex
}

#calendar-animal,
#calendar-lunar {
  height: 1.5rem;
  font-size: .9rem;
  align-items: center;
  display: flex
}

#calendar-main a {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center
}

#calendar-main a.now {
  background: #0096ff;
  color: #000
}

#calendar-main .calendar-rh a {
  color: #000
}

.calendar-r0,
.calendar-r1,
.calendar-r2,
.calendar-r3,
.calendar-r4,
.calendar-rh {
  height: 1.2rem;
  display: flex
}

.calendar-d0,
.calendar-d1,
.calendar-d2,
.calendar-d3,
.calendar-d4,
.calendar-d5,
.calendar-d6 {
  width: 14.28%;
  display: flex;
  justify-content: center;
  align-items: center
}